<app-header></app-header>
<app-nav></app-nav>
<app-footer></app-footer>
<div style="margin-left: 210px; margin-right: 10px;">
<mat-card>
    <mat-card-title>{{ secretaria.id_secretaria ? 'Atualizar Secretaria' : 'Nova Secretaria'}}</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da Secretaria"
                [(ngModel)]="secretaria.nom_secretaria" name="nom_secretaria" maxlength="200">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Endereço"
                [(ngModel)]="secretaria.nom_endereco" name="nom_endereco" maxlength="500">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Telefone"
                [(ngModel)]="secretaria.cod_telefone" name="cod_telefone" prefix="+55" mask="(00)00000-0000">
        </mat-form-field>

        <mat-form-field appearance="fill">
                  <mat-label>Responsável</mat-label>
                  <mat-select [compareWith]="compareObjects" [(ngModel)]="secretaria.usuario" name="usuario">
                    <mat-option  *ngFor="let responsavel of responsaveis" [value]="responsavel">
                         {{ responsavel.nom_usuario}}
                 </mat-option>
                 </mat-select>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Observação"
                [(ngModel)]="secretaria.des_observacao" name="des_observacao">
        </mat-form-field>
    </form> 
    <button *ngIf="!secretaria.id_secretaria" mat-raised-button (click)="atualizaOuCria()" color="primary">
        Salvar
    </button>

    <button *ngIf="secretaria.id_secretaria" mat-raised-button (click)="atualizaOuCria()" color="primary">
        Atualizar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
</div>

