<app-header></app-header>
<app-nav></app-nav>
<app-footer></app-footer>
<div style="margin-left: 210px; margin-right: 10px;">
<mat-card>
    <mat-card-title>Nova Secretaria</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome da Secretaria"
                [(ngModel)]="secretaria.nom_secretaria" name="nom_secretaria" maxlength="200">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço"
                [(ngModel)]="secretaria.nom_endereco" name="nom_endereco" maxlength="500">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone"
                [(ngModel)]="secretaria.cod_telefone" name="cod_telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Responsável"
                [(ngModel)]="secretaria.nom_responsavel" name="nom_responsavel">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Observação"
                [(ngModel)]="secretaria.des_observacao" name="des_observacao">
        </mat-form-field>
    </form> 
    <button mat-raised-button (click)="createSecretaria()" color="primary">
        Salvar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>
</div>

