.footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: 0;
    background-color: eee;
    height: 40px;

}

.footer > span {
    font-size: 1rem;
    font-weight: 400;
    color: #673ab7;
}