<div class="body">
    <mat-card class="example-card login">
        <span class="logo">
                <img class="logo" src="assets/img/teste.png" alt="logo">
        </span>
        <mat-card-header class="header">
          <mat-card-title>Login</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form class="example-form form">
            <table class="example-full-width" cellspacing="0">
              <tr>
                <td>
                  <mat-form-field class="example-full-width">
                  <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
              <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
              </mat-form-field></td>
            </tr></table>
          </form>

        </mat-card-content>
        <mat-card-actions class="botao">
          <button mat-raised-button (click)="navigateToLogin()" color="primary">Login</button>
        </mat-card-actions>
      </mat-card>
</div>
